<!-- STYLES -->
{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
<!-- This template displays a radio button for each question, the value is associated with an ID -->

<!--Each radio button is a choice. When someone selects a choice and submits form, POST dad choice=# -->


<div class="content_container">
  
  <h1>{{ question.question_text }}</h1>
<label class="error">
  {% if error_message %}
  <p><strong><h4>{{ error_message }}</strong></h4>
  {% endif %}</label> 
  <br>
  <br>
  
  <form class="form" action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} {% for choice in question.choice_set.all %}
    <input 
      type="radio" 
      name="choice"
      id="choice{{ forloop.counter }}"
      value="{{ choice.id }}"
    /><span>
    <label class="choice" for="choice{{ forloop.counter }}" >{{ choice.choice_text }}
    </span>
    </label><br>
    {% endfor %}
    <input class="button" type="submit" value="Vote" />
  </form>
</div>
