<!-- STYLES -->
{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
<!-- This template displays a radio button for each question, the value is associated with an ID -->

<!--Each radio button is a choice. When someone selects a choice and submits form, POST dad choice=# -->


<div class="content_container">
    <h1>ABOUT THIS APP</h1>
    <div class = "result_text"><strong>{{ result.result_text }}</strong></div>
<div class = "description">   
    <br>
    <br>
     ITS A GENNERAL POLLS APP.<br>
    <strong>It consists of two parts:</strong>
    <br>
<li >A public site that lets people view polls and vote in them.</li>
<li>An admin site that lets you add, change, and delete polls.</li>
</div>
<br>
<a href="https://docs.djangoproject.com/en/3.1/intro/tutorial01/">Check out the official django tutorial</a>
<strong><a href="http://127.0.0.1:8000">Go back to main polls page</a></strong>
</div>
